/* Navbar */
.navbar {

 border-bottom: 1px solid #fff ;


}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  margin: 0 10px 0 0;
}

.form-select {
  color: #fff;
  background-color: #333;
  border: none;
}

/* Carousel Item */
.carousel-item {
  height: 50vh;
}

/* Card */
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title {
  color: var(--background-color);
}

.price {
  color: var(--background-color);
  font-size: 24px;
}

.sale-badge {
  background-color: #e53935;
}

/* Footer CTA */
.footer-cta {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

/* Container Fluid */
.container-fluid {
  color: var(--background-color);
}

/* Additional Styling */
nav {
 background-color:transparent;
  border: 1px solid var(--main-color);
  padding: 13px 0;
}


@media  screen and (max-width:450px){
  .navbar-brand{
    font-size: medium;
  }
  


}
@media  screen and (min-width:1000px){

  


  .cont-select{
   width: 90%;
  }

}