<nav class="navbar   navbar-expand-lg navbar-dark bg- ">
  <div class="container d-flex justify-content-start  ">
    <div>
    <h1 class="navbar-brand"><i class="fa-duotone fa-filter-list"></i> {{ title }}:</h1>
  </div>
    <div class="cont-select" id="navbarCollapse">
      <select class="form-select border  me-3" (change)="detectChanges($event)">
        <option value="all" selected>All Products</option>
        <option class="" value="{{ option }}" *ngFor="let option of data">
          {{ option }}
        </option>
      </select>
    </div>
  </div>
</nav>
