<app-banner [products]="products"></app-banner>

<div class="container mt-1">
  <!-- Top rating -->
  <h1 class="title"><i class="fas fa-star"></i>  Top Rated</h1>
  <owl-carousel-o [options]="customOptions" class="containe d-flex justify-content-center" style="overflow-x: auto">
    <ng-template carouselSlide class="col-md-3" *ngFor="let rating of topRating; let i = index">
      <app-rating [data]="rating" (addToCartClicked)="addToCart($event)"></app-rating>
    </ng-template>
  </owl-carousel-o>

  <!-- Laptops -->
  <h1 class="title"><i class="fas fa-laptop"></i>  Laptops</h1>
  <owl-carousel-o [options]="customOptions" class="containe d-flex justify-content-center" style="overflow-x: auto">
    <ng-template carouselSlide class="col-md-3" *ngFor="let laptop of laptops; let i = index">
      <app-rating [data]="laptop" (addToCartClicked)="addToCart($event)"></app-rating>
    </ng-template>
  </owl-carousel-o>

  <!-- Decoration -->
  <h1 class="title"><i class="fas fa-heart "></i>  Decoration</h1>
  <owl-carousel-o [options]="customOptions" class="containe d-flex justify-content-center" style="overflow-x: auto">
    <ng-template carouselSlide class="col-md-3" *ngFor="let furn of decoration; let i = index">
      <app-rating [data]="furn" (addToCartClicked)="addToCart($event)"></app-rating>
    </ng-template>
  </owl-carousel-o>

  <!-- Smart Phone -->
  <h1 class="title"><i class="fas fa-mobile-alt"></i> Smart Phone</h1>
  <owl-carousel-o [options]="customOptions" class="containe d-flex justify-content-center" style="overflow-x: auto">
    <ng-template carouselSlide class="col-md-3" *ngFor="let phone of smartPhone; let i = index">
      <app-rating [data]="phone" (addToCartClicked)="addToCart($event)"></app-rating>
    </ng-template>
  </owl-carousel-o>

  <!-- All products -->
  <div class="my-2">
    <app-select [data]="categories" [title]="'Categories'" (selectedValue)="filterCategory($event)"></app-select>
  </div>

  <div class="d-flex justify-content-center">
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4" *ngIf="!loading">
      <div class="col-md-3 mt-4" *ngFor="let prd of products">
        <app-product [data]="prd" (addToCartClicked)="addToCart($event)"></app-product>
      </div>
    </div>
  </div>

  <div class="text-center mt-100 w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>
